@import "tailwindcss";

@layer base {
  :root {
    --primary: #09c206;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .from-primary {
    --tw-gradient-from: var(--primary);
  }

  .to-primary {
    --tw-gradient-to: var(--primary);
  }

  .via-primary {
    --tw-gradient-to: var(--primary);
  }
}